body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
    /* Sidebar */
    .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    }
    
    @media (max-width: 991.98px) {
    .sidebar {
    width: 100%;
    }
    }
    .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }
    
    .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
    .profile{
        color:black;
    }
    
    .image
    {
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
    }
    h1 { 
        color: rgb(227, 231, 227); 
    } 
    h1, h2 { 
        text-align: center; 
    } 
    

    div.first { 
        /*setting alpha = 0.1*/ 
        background: rgba(0, 151, 19, 0.1); 
    } 

    div.second { 
        /*setting alpha = 0.3*/ 
        background: rgba(0, 151, 19, 0.3); 
    } 

    div.third { 
        /*setting alpha = 0.6*/ 
        background: rgba(0, 151, 19, 0.6); 
    } 
    .navbar-brand{
        font-size: 2.5rem;
        color:rgb(2, 12, 104);
              font-family:'Kaushan Script', cursive;
        }
          
        .header-2.active{
            position: fixed;
            top:0; left: 0; right:0;
            z-index: 10000;
          }
      
      
      /* ..... */
          .navbar-nav{
            text-align: right;
            padding-top: 2.5rem;
          padding-bottom: 1.5rem;
          font-size: 21px;
          font-family: 'Roboto Slab', serif;
          /* background-color:#FAFDD6; */
          }
          .navbar .navbar-nav .nav-link {
              color: black;
              font-size: 0.9em;
              padding-left: 3em;
          }
          .navbar .navbar-nav .nav-link:hover{
              color: rgb(14, 190, 248);
          }
      /* ...... */
      .text{
        font-size: 2.0rem;
        color:rgb(15, 129, 15) ;
          font-family:'Kaushan Script', cursive;
        }
      
      .text1{
        font-size: 1rem;
        color:black;
          font-family:'Kaushan Script', cursive;
      }
      
      footer{
        height: 100px;
        text-align: center;
        margin-top: -100px;
        font-size: 20px;
      }
      
      .text2{
        color :black
      }