
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/Images/carlogo.png" height="85px" width="85px" alt="">
    Car Wash Service
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler3"
      aria-controls="myNavbarToggler3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbarToggler3">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link" href="Home">Home</a>
          </li>
          
        <li class="nav-item">
          <a class="nav-link" href="contactus">ContactUs</a>
    
          </li>
          <li class="nav-item"><a class="nav-link" (click) ="logoff()">Log Out</a>
          </li>
      </ul>
  </div>
</nav>
      <!-- Wrapper for carousel items -->
          <div class="carousel-item active">
              <img src="assets/Images/homecar.jpg"  style="height:700px" class="d-block w-100" alt="Slide 1">
              
          </div>

<div class="image" style=" height: 500px;background: rgb(115, 166, 220);" >


<!--Main Navigation-->
  

  <!-- Sidebar -->
  <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar " style="margin-top: 100px;">
    <div class="position-sticky" >
      <div class="list-group list-group-flush mx-3 mt-4" >      
       
        <a  [routerLink]="'/profiledetails'" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"  matTooltip="Click here to Add Car Details"  matTooltipPosition="right" >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i>
          <mat-icon>manage_accounts</mat-icon><span >My Profile</span>
        </a>
        <a [routerLink]="'/cardetails'" class="list-group-item list-group-item-action py-2 ripple" aria-current="true"  matTooltip="Click here to Add Car Details"  matTooltipPosition="right" >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i>
          <mat-icon>local_car_wash</mat-icon><span>Car Details </span>
        </a>

        <a  [routerLink]="'/myRequest'"   class="list-group-item list-group-item-action py-2 ripple" matTooltip="Click here to Order the Car Wash"  matTooltipPosition="right">
          <i class="fas fa-chart-area fa-fw me-3"></i>
          <mat-icon>local_car_wash</mat-icon>
          <span>My Wash Requests</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action py-2 ripple"  matTooltip="Click here to Schedule your car wash"  matTooltipPosition="right"><i
            class="fas fa-lock fa-fw me-3"></i>
            <mat-icon>schedule</mat-icon>
            <span>Schedule Later </span></a>

        <a href="#" class="list-group-item list-group-item-action py-2 ripple"  matTooltip="Click here to Pay for car service"  matTooltipPosition="right"><i
            class="fas fa-chart-line fa-fw me-3"></i>
            <mat-icon>account_balance</mat-icon>
            <span>Payment </span></a>

        <a href="#" class="list-group-item list-group-item-action py-2 ripple"  matTooltip="Click here to view receipts"  matTooltipPosition="right">
          <i class="fas fa-chart-pie fa-fw me-3"></i>
          <mat-icon>receipt</mat-icon>
          <span>Receipt</span>
        </a>

        <a href="#" class="list-group-item list-group-item-action py-2 ripple"  matTooltip="Click here to Add Ratings & Reviews"  matTooltipPosition="right"><i
            class="fas fa-chart-bar fa-fw me-3"></i>
           <span> <mat-icon>star star star_half</mat-icon><br></span>
            <span>Ratings & Reviews </span></a><br>
  <button mat-button (click) ="logoff()" style="background-color:#cd1500;color:white" type="submit" >Log Out</button>&nbsp;&nbsp;&nbsp;&nbsp;

      </div>

    </div>
  </nav> -->
  <!-- Sidebar -->

  <!-- Navbar -->
  <!-- <nav> -->
    <!-- Container wrapper -->
    <!-- <div class="navbar navbar-primary"> -->
      <!-- Toggle button -->
      <!-- <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation" >
        <i class="fas fa-bars"></i>
      </button> -->

      <!-- Brand -->
  
      
     

      <!-- Right links -->
      <!-- <ul class="navbar-nav ms-auto d-flex flex-row"> -->
       <!-- Navbar -->
    
       
      
  <!-- <div class="container"> -->
   
<!-- 
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
       <li class="nav-item">
          <a class="nav-link mx-2" href="#!" matTooltip="Click here to view Notifications"><i class="fas fa-plus-circle pe-2"></i><mat-icon>notifications</mat-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!"matTooltip="Click here to view My Orders"><i class="fas fa-bell pe-2"></i><mat-icon>shopping_bag</mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#!" matTooltip="Click here to view LeaderBoard"><i class="fas fa-heart pe-2" ></i><mat-icon>leaderboard</mat-icon>
          </a>
        </li> -->
   
        <!-- <li class="nav-item">
          
        </li>
      </ul>
    </div>
  </div> -->
<!-- Navbar -->
      
      
    <!-- </div>
   
  </nav> -->
  
  <!-- Navbar -->
<!--Main Navigation-->

<!--Main layout-->

<h1 style="margin-left: 10px;font-size: 40px;"><b>Welcome </b> <b>{{Name}}..!</b></h1>
  
  <div class="container py-3" >
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card p-1" >
                <a class="card-block stretched-link text-decoration-none" href="profiledetails">
                    <h2 class="card-title">My Profile</h2>
                    <img class="card-img-top" src="assets/Images/5907.jpg" style="height: 300px;" alt="Card image cap">
                    <p class="card-text"><small class="text-muted">profile and address details</small></p>
                </a>
            </div>
            <div class="card p-1">
              <a class="card-block stretched-link text-decoration-none" href="cardetails">
                  <h2 class="card-title">My Cars </h2>
                  <img class="card-img-top" src="assets/Images/67104.jpg" style="height: 300px;" alt="Card image cap">
                  <p class="card-text"><small class="text-muted">Car details </small></p>
              </a>
          </div> <div class="card p-1">
            <a class="card-block stretched-link text-decoration-none" href="myRequest">
                <h2 class="card-title">My Wash Request</h2>
                <img class="card-img-top" src="assets/Images/5748996.jpg"style="height: 300px;" alt="Card image cap">
                <p class="card-text"><small class="text-muted">Track your wash request</small></p>
            </a>
        </div> 
        </div>
    </div>
  </div>
    <!-- <div class="container pt-9" style="background-color:rgb(143, 225, 105); text-align: center; color:white;padding: 2%;  background-position: center; "> -->
      
    

</div>
<!--Main layout-->