
<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">
    <img src="assets/Images/carlogo.png" height="85px" width="85px" alt="">
    Car Wash Service
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler3"
      aria-controls="myNavbarToggler3" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbarToggler3">
      <ul class="navbar-nav ms-auto">
          <li class="nav-item">
              <a class="nav-link" href="Home">Home</a>
          </li>
          
        <li class="nav-item">
          <a class="nav-link" href="contactus">ContactUs</a>
    
          </li>
          <li class="nav-item"><a class="nav-link" (click)="logoff()">Log Out</a>
          </li>
      </ul>
  </div>
</nav>
      <!-- Wrapper for carousel items -->
          <div class="carousel-item active">
              <img src="assets/Images/homecar.jpg"  style="height:700px" class="d-block w-100" alt="Slide 1">
              
          </div>
<div class="image" style="background-image:url()   ;" >

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
<mat-card-content >
    <mat-card-title >My Profile</mat-card-title>
    <div>
          
        <!-- <buton class="btn btn-success" (click)="addUser()"> Add Car</button> &nbsp;&nbsp; -->
        <!-- <button class="btn btn-danger" (click)="logOutUser()"> LogOff</button> -->

        <table class="table table-striped table-responsive table-hover" style="background-color: whitesmoke;">
         <tbody style="width: 800px;"><thead>
          <tr>
            <th>First Name</th>
            <td>{{user.userFirstName}}</td>
          </tr>
          </thead> 
          <thead>
            <tr>
              <th>Last Name</th>
              <td>{{user.userLastName}}</td>
            </tr>
            </thead> 
            <thead>
              <tr>
                <th>Email</th>
                <td>{{user.userEmail}}</td>
              </tr>
              </thead> 
              <thead>
                <tr>
                  <th>Gender</th>
                  <td>{{user.userGender}}</td>
                </tr>
                </thead> 
              <thead>
                <tr>
                  <th>Mobile Number</th>
                  <td>{{user.userMobileNumber}}</td>
                </tr>
                </thead> 
                    <tr>
              <!-- 
              <td>{{user.userEmail}}</td>
              <td>{{user.userGender}}</td>
              <td>{{user.userMobileNumber}}</td> -->
      <td>
          <button class="btn btn-success"> Edit</button> &nbsp;&nbsp; 
      </td>
              <!-- <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete</button> -->
                <!-- <button class="btn btn-warning" (click)="editUser(user)" style="margin-left: 20px;"> Edit</button></td> -->
            </tr>
            <tr *ngIf="!cars || cars.length==0">
              <th colspan="5">
                <p class="text-right text-danger">Sorry No Cars Available</p>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
</mat-card-content>
</mat-grid-tile>

<mat-grid-tile>
  <mat-card-content style="height: 400px;width:600px;margin-right:400px;">
      <mat-card-title>My Address</mat-card-title>
      <div class="col-lg-7">
            
          <!-- <buton class="btn btn-success" (click)="addUser()"> Add Car</button> &nbsp;&nbsp; -->
          <!-- <button class="btn btn-danger" (click)="logOutUser()"> LogOff</button> -->
  
          <table class="table table-striped table-responsive table-hover" style="background-color: white;">
           <tbody>
             <thead>
              <tr>
                <th>Address Line 1</th>
                <td>{{address.addressLine1}}</td>
              </tr>
              </thead> 
              <thead>
                <tr>
                  <th>Address Line 2</th>
                  <td>{{address.addressLine2}}</td>
                </tr>
                </thead> 
                <thead>
                  <tr>
                    <th>Land Mark</th>
                    <td>{{address.addressLandmark}}</td>
                  </tr>
                  </thead> 
                  <thead>
                    <tr>
                      <th>City</th>
                      <td>{{address.addressCity}}</td>
                    </tr>
                    </thead> 
                    <thead>
                      <tr>
                        <th>State</th>
                        <td>{{address.addressState}}</td>
                      </tr>
                      </thead> 
                      <thead>
                        <tr>
                          <th>Pincode</th>
                          <td>{{address.addressPincode}}</td>
                        </tr>
                        </thead> 
                        <thead>
                          <tr>
                            <button class="btn btn-success"> Edit</button> 
                            <td></td>
                          </tr>
                          </thead> 
              </tbody>
            </table>
          </div>
  </mat-card-content>
  </mat-grid-tile>


</mat-grid-list>