
<nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">
          <img src="assets/Images/carlogo.png" height="85px" width="85px" alt="">
          Car Wash Service
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbarToggler3"
            aria-controls="myNavbarToggler3" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbarToggler3">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="Home">Home</a>
                </li>
                
              <li class="nav-item">
                <a class="nav-link" href="contactus">ContactUs</a>
          
                <li class="nav-item"><a class="nav-link" href="Sign-up">SignUp</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="AdminLogin">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
            <!-- Wrapper for carousel items -->
                <div class="carousel-item active">
                    <img src="assets/Images/homecar.jpg"  style="height:700px" class="d-block w-100" alt="Slide 1">
                    
                </div>

<div class="image" style="background-image:url('assets/Images/homecar.jpg');" >

<div class="c1">

<div class="loginCard">
    <mat-card color="primary">
        <mat-card-title style="font-size: 30px;color: rgb(52, 0, 240); margin-top: 35px;">Login </mat-card-title>

        <mat-card-actions>
          <button mat-raised-button [routerLink]="'/userLogin'" style="height: 50px; width: 190px; font-size: 20px; margin-top: 20px;" color="accent" >Customer</button>
          <button mat-raised-button [routerLink]="'/washerLogin'" style="height: 50px; width: 190px; font-size: 20px;   " color="warn">Washer</button>

        </mat-card-actions>
                <mat-card-subtitle style="font-size: 15px;color: black;"><b>Don't Have Account..?</b></mat-card-subtitle>
        <button mat-raised-button [routerLink]="'/Sign-up'" style="height: 50px; width: 190px; font-size: 20px;" color="primary">Register</button>
<br><br>
      </mat-card>
</div>
</div>